body {
    background-color: black!important;
    font-family: "futura-pt",sans-serif;
}

.cover-home {background: linear-gradient(290deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/shirley-3.jpg");
}

nav, h1, h2, h3, h4, h5 {
    font-family: "futura-pt",sans-serif;
    /*font-weight: 300;*/
}


.navbar {
    vertical-align: auto;
    justify-content: flex-end;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    float: left;
    font-weight: 400;
    font-size: 0.9rem;
    /*color: rgba(255, 255, 255, .5);*/
    background-color: transparent;
    border-bottom: .25rem solid transparent;

}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: yellow;
}


.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}


.container {
    background-color: white!important;
}

/*.cover-heading {*/
    /*color: white;*/
    /*text-transform: uppercase;*/
    /*font-size: 2.5rem;*/
    /*font-family: "futura-pt",sans-serif;*/
    /*margin: 0;*/
    /*text-shadow: 0 .5rem .5rem rgba(0, 0, 0, .9)!important;*/
    /*line-height: 100%;*/
    /*letter-spacing: 10px;*/
/*}*/

.cover-heading2 {
    color: white;
    margin-top: 15px;
    font-family: "futura-pt",sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
letter-spacing: 1px;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0, .9)!important;}

.btn-danger {
    background-color: yellow;
    border: none;
    color: black;
    text-shadow: none;
    font-family: "futura-pt",sans-serif;
}

.lead {
    font-weight: 500;
    color: white;
    margin-bottom: 5%;
    font-size: 100%;
    font-family: "futura-pt",serif;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0, .9)!important;
}

span .black {
    background-color: white;
    color: black;
}

.nav a:hover {
    color: yellow;
}


.nav-link {
    font-size: 1.5rem;
    letter-spacing: -0.5px;
}

.nav-link a:hover {
    color: red;
}

.navbar {
    border-bottom: 15px white solid;
}

h1 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: -0.5px;
}

h5 {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    line-height: 160%;
}

/*NAVBAR STYLE*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.9);
    border-left: black solid 5px;
    overflow-x: hidden;
    transition: 0.7s;

}

.overlay-content {
    position: relative;
    top: 8%;
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

.overlay a {
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 15px;
    text-decoration: none;
    font-weight: 100;
    font-family: "futura-pt",sans-serif;
    font-size: calc(0.8em + 1vw);
    letter-spacing: -0.2px;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: left;

}

a {
    text-decoration: none;
    font-weight: 300;
    font-family: "futura-pt",sans-serif;
    letter-spacing: -1px;
    color: #006B94;}

a.closebtn {
    border: none;
}

.overlay img {
    margin-bottom: 5%;
}

.overlay a:hover {
    color: red;}

.big-icon i:hover {
    color: white;
}

.big-icon i:active {
    color: white;
}

.overlay a:active {
    color: white;
}

.overlay .closebtn {
    position: absolute;
    top: -15px;
    right: 30px;
    font-size: 40px;
}