body {
    background-color: black!important;
    font-family: "futura-pt",sans-serif;
}

.white {
    color: white;
}

.cover-home {background: linear-gradient(290deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/shirley-3.jpg");
}

nav, h1, h2, h3, h4, h5 {
    font-family: "futura-pt",sans-serif;
    /*font-weight: 300;*/
}


.navbar {
    vertical-align: auto;
    justify-content: flex-end;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    float: left;
    font-weight: 400;
    font-size: 0.9rem;
    /*color: rgba(255, 255, 255, .5);*/
    background-color: transparent;
    border-bottom: .25rem solid transparent;

}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: yellow;
}


.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

.strip {
    background-color: red;
    background-blend-mode: multiply;
}


.featurette h2 {
    font-size: 8vw;
    font-family: "futura-pt";
    text-align: center;
    font-weight: 900;
    letter-spacing: 3vw;
    text-transform: uppercase;
    color: orangered;
    mix-blend-mode: overlay;
    padding: 0;
    margin: 0;
    line-height: 0.9;
    /*transform: rotate(270deg);*/
}

.subhead {
    font-size: 20px;
    letter-spacing: 6px;
    color: lightgrey;
    text-transform: uppercase;
}

.goalone {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(images/snowshoe-web.jpg);
    background-size: cover;
}

.goaltwo {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(images/spoon.jpg);
    background-size: cover;
}

.goalthree {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(images/nuns.jpg);
    background-size: cover;
}


.goalfour {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(images/bathtub-eb.jpg);
    background-size: cover;
}

.goalfive {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(images/guys.jpg);
    background-size: cover;
}

.goalsix {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(images/beach.jpg);
    background-size: cover;
}

.goalseven {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(images/lepsche2.png);
    background-size: cover;
}

.missonstatement {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(images/soldier.jpg);
    background-size: cover;
}

.red-border {
    border-left: red 10px solid;
    mix-blend-mode: overlay;
}


.container {
    background-color: black!important;
    color: white;
}

/*.cover-heading {*/
    /*color: white;*/
    /*text-transform: uppercase;*/
    /*font-size: 2.5rem;*/
    /*font-family: "futura-pt",sans-serif;*/
    /*margin: 0;*/
    /*text-shadow: 0 .5rem .5rem rgba(0, 0, 0, .9)!important;*/
    /*line-height: 100%;*/
    /*letter-spacing: 10px;*/
/*}*/

.cover-heading2 {
    color: white;
    margin-top: 15px;
    font-family: "futura-pt",sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
letter-spacing: 1px;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0, .9)!important;}

.btn-danger {
    background-color: red;
    border: none;
    color: white;
    text-shadow: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 0;
}

.btn-danger:hover {
    background-color: white;
    color: black;
}

.lead {
    font-weight: 500;
    color: white;
    margin-bottom: 5%;
    font-size: 100%;
    font-family: "futura-pt",serif;
    text-shadow: 0 .5rem .5rem rgba(0, 0, 0, .9)!important;
}

span .black {
    background-color: white;
    color: black;
}

.nav a:hover {
    color: yellow;
}


.nav-link {
    font-size: 1.5rem;
    letter-spacing: -0.5px;
}

.nav-link a:hover {
    color: red;
    color: #333333;
}

.navbar {
    border-bottom: 15px white solid;
}

.internal-footer {
    background-color: #333333;
    padding-bottom: 4rem;
}
h1 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: -0.5px;
}

h4 {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h5 {
    font-size: 1.7rem;
    letter-spacing: -1px;
    font-weight: 100;
}

h6 {
    font-size: 1.1rem;
    letter-spacing: -0.5px;
    font-weight: 100;
}

p {
    font-size: 2rem;
    letter-spacing: -0.2px;
    font-weight: 100;
}

/*NAVBAR STYLE*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.7s;

}

.overlay-content {
    position: relative;
    top: 8%;
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

.fixed-nav {
    height: 150px;
    background: #1c1c1c;
    margin-bottom: 30px;
    padding-top: 1vh;
}

.overlay a {
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 15px;
    text-decoration: none;
    font-weight: 100;
    font-family: "futura-pt",sans-serif;
    font-size: calc(0.8em + 1vw);
    letter-spacing: -0.2px;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: left;

}

a {
    text-decoration: none;
    font-weight: 300;
    color: red;}

a:hover {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

a.closebtn {
    border: none;
}

.overlay img {
    margin-bottom: 5%;
}

.overlay a:hover {
    color: red;}

.big-icon i:hover {
    color: white;
}

.big-icon i:active {
    color: white;
}

.overlay a:active {
    color: white;
}

.overlay .closebtn {
    position: absolute;
    top: -15px;
    right: 30px;
    font-size: 40px;
}