

.bars   {
    background-image: url("../images/skai-stripe.png");
    background-position: right top;
    background-repeat: repeat-y;

}

body {
    background-color: white;
    background-image: url("../images/bg.png");
    background-repeat: repeat-y;
    /*background-image: url("drone-4.jpg"); */
}

