* {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    background-color: #1C2F42;
    color: #BED8E6;
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 1.6em;
    text-transform: uppercase;
}