.modal{
    overflow-y:auto;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    height: 100%;
    width: 100%; }

.modal-dialog-centered {
    max-width: 70vw;
    max-height: 70vh;
}
.modal .modal-content .close:focus{
    outline: none;
}
.modal .modal-content .cls{position: absolute;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    right: .5em;
    font-size: 2em;
    color: #000000;
    opacity: 0.9;
    text-shadow: none;}

.modal .modal-content .close:hover{
    color: #D9D92C;
}
.modal .modal-content .prv{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    color: #000000;
    font-size: 2em;
    opacity: 1;
    text-shadow: none;
}
.modal .modal-content .nxt{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    color: #000000;
    font-size: 2em;
    opacity: 1;
    text-shadow: none;
}
.modal-body{
    padding: 0!important;
}
.modal-footer{
    background-color: black;
    color: white;
    border-left: 5px solid #D9D92C;
    padding-bottom: 0;
    border-radius: 0!important;
}
.modal-footer h3, .modal-footer p {
    text-align: left;
}


.modal-footer a:hover{
    color: #D9D92C!important;
    text-decoration: none;
}

.modal .row{
    margin: 0!important;
}

.mdl{
    background-color: transparent;
    border: none;
}
.mdl:focus{
    outline: none;
}
.hover-box:focus{
    color: transparent;
}
.fade {
    transition: opacity .2s;
  }

.modal-body {
    max-height: 95vh;
    overflow-y: auto;
}

.close {
    font-weight: 100;

}
