@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Abel');

/* LOADER CSS */
.loader,
.loader:before,
.loader:after {
  background: #d8db00;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 5em;
}
.loader {
  color: #d8db00;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
  right: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}


body {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 300;
    color: #303030;
    opacity: 0;
    animation: fade .2s ease-in forwards;
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

::-moz-selection { /* Code for Firefox */
    color: #d8db00;
    background: black;
  }
  
  ::selection {
    color: #d8db00;
    background: black;
  }

/*.cover {padding-top:100px;}*/
.space {height:100px;}

.spacer {height: 30px;}

/*TYPE*/

h1 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: calc(28px + 3vw);
    line-height: calc(32px + 2vw);
}

.mb-6 {
    margin-bottom: 10%;
}

.splash {
    font-size: 3vh;
    line-height: 15vh;
    font-weight: 200;
    color: black;
}

.splash-2 {
    font-family: 'Abel', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: calc(20px + 0.2vh);
    letter-spacing: 2px;
}

h2 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: calc(20px + 4vw);
    line-height: calc(12px + 4vw)
}

h3 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3px;
}

h5 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 4px;
}

h6 {
    font-family: 'Abel', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: calc(12px + 0.2vh);
    letter-spacing: 2px;
    margin-top: 10px;
}

a {
    color: #333333;
}

hr {
    border-top: #D9D92C 4px solid;
}



.bold {
    font-weight: 900!important;
}

.bold2 {
    font-weight: 900!important;
    text-transform: uppercase;
}


.sub-text {
    text-transform: uppercase;
    font-size: calc(13px + 0.5vh);
    letter-spacing: 4px;
}

.sub-text2 {
    text-transform: uppercase;
    font-size: calc(15px + 0.7vh);
    letter-spacing: 3px;
}

p {
    font-weight: 300;
    font-size: 18px;
}

.border-green {
    border-right: 1px solid #d8db00;
}


/*COLOR*/

.lime {color: #d8db00;}
.grey {color: lightgray;}
.white {color: white;}
.bg {background: #E8EAEC;}

.highlight {
    background-color: #d8db00;
    color: dimgrey;
}

.highlight2 {
        background-color: black;
        color:#d8db00;
    }


.opa-50 {
    opacity: 0.2;
}



a:hover {
    color: #2b3eaf;
    text-decoration: none;
}

a:focus {
    color: #2b3eaf;
}

.clearboth {
    clear: both;
}

.rotate {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 160px;
    right: -132px;
}

.rotate3 {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    bottom: 120px;
    right: -104px;}

.side-logo {
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    transform: rotate(-90deg);
    top: 485px;
    right: -105px;
}

.rotate2 {
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    transform: rotate(-270deg);

    bottom: 140px;

    left: -145px;

}


.space-3 {
    margin-top: auto;
    margin-bottom:auto;
}

/*ICONOGRAPHY*/

i {
    font-size: calc(18px + 0.5vh);
    color: #2b3eaf;
}

i:hover {
    color: #d8db00;
}


.bg-dark {
    background: white !important;
    margin-right: 50px;
    height: 75px;
}




.hover-box {opacity: 1;}
.hover-box:hover {opacity: 0.7;}

/*MEDIA QUERIES*/

@media (max-width: 991.98px) {
    }



@media (max-width: 767.98px) {
    .opa-50 {width: 350px;}
}

@media (max-width: 575.98px) {

    .inner-logo {width:30px;}

    main h1 {font-size: 42px; line-height: 33px;}

    main.row.inner.cover {margin-top: 180px; padding: 0!important;}

    .opa-50 {width: 250px;}

    .logo {margin-left: 10px!important; width: 150px;}

    .rotate2 {display: none;}

    .side-logo {right: -85px; width: 200px; top: 450px; }

    .rotate {right: -130px;}

    .space-3 {margin-top: 10px;}

    .sub-text2 {letter-spacing: 0;}

    .splash {font-size: 36px; line-height: 38px;}

    .splash-2 {font-size: 21px; line-height: 19px; }

    .modal-dialog-centered {max-height: 100%; max-width: 100%;}


}

thead th {
    font-weight: 300!important;
}

tbody td {
    font-weight: 800;

}

  
  thead tr {
    background-color: #E6E6E6;
    color: #808080;
  }

.ord {
    background-color:  #E6E6E6;
    color: #808080;
    font-weight: 900;
}

.total tr{
    font-weight: 100!important;
}

th {
    border-right: 1px  #808080 solid;
}

tr {
    border-bottom: 1px black solid;
}

td {
    border-right: 1px black solid;
}

table {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.name {
    background-color: none;
    color:#333333;
    font-weight: 300;
    letter-spacing: -0.2px;
    margin-bottom: 10px;
    font-size: 20px;

}
  
  /* table {
    background-color: #ff33cc;
  } */

    /*@media (min-width: 576px) and (max-width: 991.98px) {*/
        /*body {margin-top: 10vw!important;}*/

    /*}*/

