@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Abel');

body {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 300;
    color: #303030;
    opacity: 0;
    animation: fade .8s ease-in forwards;
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*.cover {padding-top:100px;}*/
.space {height:100px;}

/*TYPE*/

h1 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: calc(28px + 3vw);
    line-height: calc(32px + 2vw);
}

.splash {
    font-size: 5.5vw;
    line-height: 5.5vw;
    font-weight: 200;
    color: black;
}

h2 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: calc(20px + 4vw);
    line-height: calc(12px + 4vw)
}

h3 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3px;
}

h5 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 4px;
}

h6 {
    font-family: 'Abel', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: calc(12px + 0.2vh);
    letter-spacing: 2px;
    margin-top: 10px;
}

a {
    color: #333333;
}

hr {
    border-top: #D9D92C 4px solid;
}



.bold {
    font-weight: 900!important;
}

.sub-text {
    text-transform: uppercase;
    font-size: calc(13px + 0.5vh);
    letter-spacing: 4px;
}

.sub-text2 {
    text-transform: uppercase;
    font-size: calc(15px + 0.7vh);
    letter-spacing: 3px;
}

p {
    font-weight: 300;
    font-size: 18px;
}

.border-green {
    border-right: 1px solid #d8db00;
}


/*COLOR*/

.lime {color: #d8db00;}
.grey {color: lightgray;}
.white {color: white;}
.bg {background: #E8EAEC;}

.highlight {
    background-color: #d8db00;
    color: dimgrey;
}

.opa-50 {
    opacity: 0.2;
}



a:hover {
    color: #2b3eaf;
    text-decoration: none;
}

a:focus {
    color: #2b3eaf;
}

.clearboth {
    clear: both;
}

.rotate {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 160px;
    right: -132px;
}

.rotate3 {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    bottom: 120px;
    right: -104px;}

.side-logo {
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    transform: rotate(-90deg);
    top: 485px;
    right: -105px;
}

.rotate2 {
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    transform: rotate(-270deg);

    bottom: 140px;

    left: -145px;

}


.space-3 {
    margin-top: auto;
    margin-bottom:auto;
}

/*ICONOGRAPHY*/

i {
    font-size: calc(18px + 0.5vh);
    color: #2b3eaf;
}

i:hover {
    color: #d8db00;
}


.bg-dark {
    background: white !important;
    margin-right: 50px;
    height: 75px;
}


.container {
}

.hover-box {opacity: 1;}
.hover-box:hover {opacity: 0.7;}

/*MEDIA QUERIES*/

@media (max-width: 991.98px) {
    }



@media (max-width: 767.98px) {
    .opa-50 {width: 350px;}
}

@media (max-width: 575.98px) {

    .inner-logo {width:30px;}

    main h1 {font-size: 42px; line-height: 33px;}

    main.row.inner.cover {margin-top: 180px; padding: 0!important;}

    .opa-50 {width: 250px;}

    .logo {margin-left: 10px!important; width: 150px;}

    .rotate2 {display: none;}

    .side-logo {right: -85px; width: 200px; top: 450px; }

    .rotate {right: -130px;}

    .space-3 {margin-top: 10px;}

}

    /*@media (min-width: 576px) and (max-width: 991.98px) {*/
        /*body {margin-top: 10vw!important;}*/

    /*}*/

