body, html {
    height: 100vh;
    width:100vw;
    background: white;
    margin:0;
    padding:0;
    position:relative;
}

#overlayer {
    width:100vw;
    height:100vh;
    position:absolute;
    z-index:2;
    background: white;
}

#black-hello {
    height: 200px;
    width:100vw;
    background: black;
    position: absolute;
    bottom: 0px;
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid black;
    border-color: black transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.banner {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.banner__video {*/
    /*position:absolute;*/
    /*height:100%;*/
    /*width:100%;*/
    /*overflow: hidden;*/
    /*top: 20px;*/
    /*left: 20px;*/
    /*!*transform: translateX(-50%) translateY(-50%);*!*/
    /*z-index: -1;*/
/*}*/


@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

